@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-DatePicker-arrow {
  font-size: 16px; /* или другой желаемый размер */
}
:where(.css-dev-only-do-not-override-usln0u).ant-btn-primary {
  background: black;
}

.mantine-DatePicker-arrowLeft {
  margin-right: 8px;
}

.mantine-DatePicker-calendarHeader {
  display: flex;
}

.rightMenu {
  margin-right: 0;
  margin-left: auto;
  width: 100%;
  padding: 20px 20% 0px 20%;
}
.reservBlock {
  margin-top: 2%;
  width: 30%;
}
.reservBlock h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.container {
  max-width: 1920px;
  display: flex;
  justify-content: center;
}
.table-list {
  margin-top: -10%;
}
.table-list Button {
  width: 250px;
  height: 230px;
}
._authPanel_atidq_22 {
  margin-left: auto;
  margin-right: auto;
}
form ._button_1oj4g_1 {
  margin-left: 0;
}

.reservForm {
  padding-top: 3%;
  padding-left: 25%;
  padding-right: 25%;
  justify-content: center;
}

.lastReserv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.reservForm p {
  font-size: 17px;
}

.reservForm h2 {
  font-size: 20px;
  padding-bottom: 15px;
}
