$error-color: rgb(218, 0, 0);
$border-color: rgb(189, 189, 189);
$button-dark: rgb(43, 43, 43);
$button-blue: rgb(44, 154, 205);
$button-white: rgb(255, 255, 255);
$button-grey: rgb(202, 202, 202);
