.wrapper {
  gap: 20px;
  padding: 2rem;
  & > * {
    width: min(400px, 70vw) !important;
  }

  & > h2,
  & > p,
  & > a {
    text-align: center;
    margin: 10px 0;
    color: #222;
    font-weight: 100;
  }

  .testPanel {
    & > * {
      width: min(400px, 70vw) !important;
    }
    text-align: center;
  }

  animation: appearence 0.5s;
}

.authPanel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.formWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.formWrapper img {
  margin-top: -10%;
}

@keyframes appearence {
  0% {
    opacity: 0;
  }
}
