@import '../../variables.scss';

.button {
  background-color: $button-white;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  padding: 7px 20px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
  margin-left: 15px;

  &:disabled {
    pointer-events: none;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    background-color: $button-grey;
    transition: 0.3s;
  }

  &:active {
    box-shadow: none;
    transform: translateY(0);
  }
}
